
/* CSS reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* fotns (from Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    width: 100%;
    background: #0c111b;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
/* nav bar START */
.nav-bar{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #0c111b;
    top: 0;
    left: 0;
    padding: 0 4%;
    z-index: 9;
    align-items: center;
    display: flex;
}
.brand-logo{
    width: 115px;
    height: 45px;
}
.nav-links{
    margin-top: 10px;
    display: flex;
}
.nav-item a{
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 20px;
    color: white;
    opacity: 0.9;
}
.kids-icon{
    width: 40px;
    height: 15px;
}
.right-container{
    margin-left: auto;
}
.search-box{
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    height: 30px;
    color: white;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;

}
.search-box:focus{
    width: 400px;
    border-color: #1f80ce;
}
.sub-btn{
    background-color: #1f80ce;
    height: 30px;
    padding: 0 20px;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin: 0 10px;
    letter-spacing: 1.5px;
}
.login-link{
    color: white;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-top: 80px;
    text-decoration: none;
    margin: 0 auto;
    letter-spacing: 1.5px;

}
/* nav bar END */

/* carousel START */
.carousel-container{
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
}
.carousel{
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
}
.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 0.8s;
    overflow: hidden;
}
.slider img{
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}
.carousel .slider-content{
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #030b17 80%, #0c111b00);
    color: white;
    z-index: 2;
}
.carousel .movie-title{
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
}
.carousel .movie-desc{
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
}
/* carousel END */

/* video-cards START */
.video-card-container{
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.video-card{
    position: relative;
    min-width: calc(100%/5 -10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
}
.video-card-img,
.card-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-video{
    position: absolute;
    /* top: 0;
    left: 0; */
}
.video-card:hover .video-card-img{
    display: none;
}
/* video-cards END */

/* title part for cards START */
.title{
    color: white;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500px;
}
/* title part for cards END */

/* movies cards START */
.movie-list{
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
}
.card-container{
    position: absolute;
    width: 96%;
    padding-left: 4%;
    height: 220px;
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    align-items: center;
}
.card-container::-webkit-scrollbar{
    display: none;
}
.card{
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 15px;
    transition: 0.5s;
    background: #030b17;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.1);
}
.card:hover .card-content:hover{
    opacity: 1;
}
.card-content{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4,8,15,0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}
.movie-list .name{
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
}
.movie-list .des{
    color: white;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
}
.movie-list .watch-list-btn{
    position: absolute;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    margin-left: -21px;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
}
.watch-list-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 12px;
    height: 35px;
    width: 35px;
    background-image: url(../img/add.png);
    background-size: cover;
    transform: scale(0.4);
}
.watch-list-btn:hover{
    color: white;
}
.pre-btn,
.nxt-btn{
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 3;
    border: none;
    cursor: pointer;
}
.pre-btn{
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}
.nxt-btn{
    right: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}
.pre-btn img,
.nxt-btn img{
    width: 15px;
    height: 20px;
    opacity: 0;
}
.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;
}
/* movies cards END */