/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Rubik', sans-serif;
}
#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
#nav{
    display: inline-block;
}
#nav li{
    display: inline-block;
    position: relative;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px #616161;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#nav .subnav a{
    color: #000;
}
#nav .nav-arrow{
    font-size: 14px;
}
#nav > li > a{ /*> la con truc tiep*/
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a{
    color: #000;
    background-color: #C2C2C2;
    font-weight: bolder;
}
#nav .subnav li:hover{
    background-color: #C2C2C2;
    font-weight: bolder;
}
#nav .subnav li{
    display: block;
}
#nav .subnav .Media{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#nav li{
    list-style: none;
}

#nav .subnav li a{
    display: block;
    padding-left: 12px;
}
#header .search-button{
    float: right;
    padding: 0px 16px;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-button:hover {
    background-color: #f72585;
    cursor: pointer;
}
#slider{
     /* min-height: 1000px;
     margin-top: 46px;
    background-color: rgb(81, 89, 99); */
    position: relative;
    z-index: 1;
    margin-top: 46px;
    padding-top: 50%; /* 50% chieu ngang cua chinh no */
    background: url(/web-band/assets/img/ea1148123519859.60effc877c4d8.png) top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 46px;
    /* left: 50%;
    transform: translateX(-50%); */
    /* hoac dung cach 2 de can giua */
    /* width: 100%; */
    /* hoac dung cach 3 de can giua */
    right: 0;
    left: 0;
    text-align: center;
}
#slider .text-heading{
    margin-bottom: 30px;
}

#all-content{

}
#all-content .content-text-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
#all-content .text-section-heading{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}
#all-content .sub-text-heading{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 22px;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.6;
    font-style: italic;
}
#all-content .about-text-content{
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    line-height: 1.4; /* neu la tieng viet thi 1.6 */
}
#all-content .member-item{
    float: left;
}
#all-content .members-list{
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
}
#all-content .member-name{
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}
#all-content .member-img{
    margin-top: 14px;
    width: 154px;
    border-radius: 8px;
}
#footer{

}