*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#header .header-search{
    float: right;
    padding: 0 21px;
}
#header .search-button{
    color: white;
    font-size: 20px;
    line-height: 46px;
}
#header .header-search:hover{
    background-color: red;
    cursor: pointer;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
    position: relative;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav>li>a{
    color: white;
    text-transform: uppercase;
}
#nav .subnav li:hover a,
#nav>li:hover>a{
    color: black;
    background-color: gray;
}
#nav .subnav a{
    color: black;
    padding: 0 16px;
    line-height: 38px;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    top: 100%;
}
#nav li:hover .subnav{
    display: block;
}
#nav .nav-arrow{
    font-size: 14px;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/web-band/assets/img/slider.png) top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 90px;
    color: #ffffff;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}
#content{

}
#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
.content-section{

}
.section-heading{

}
#content .section-heading{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.7;
}
#content .section-sub-heading,
#content .section-heading{
    text-align: center;
}
.section-sub-heading{

}
#content .about-content{
    margin-top: 16px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list{
    margin-top: 45px;
    overflow: hidden;
}
#content .member-item{
    float: left;
    width: 33.3333%;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
}
#content .avt{
    margin-top: 15px;
    width: 154px;
    border-radius: 7px;
}
#footer{

}