*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}
.margin-top-32{
    margin-top: 32px !important;
}
.margin-top-16{
    margin-top: 16px !important;
}
.margin-top-8{
    margin-top: 8px !important;
}
.text-center{
    text-align: center;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px ;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.333%;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#header .mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu,
#header .header-search{
    float: right;
    padding: 0 21px;
}
#header .menu-button,
#header .search-button{
    color: white;
    font-size: 20px;
    line-height: 46px;
}
#header .header-search:hover{
    background-color: red;
    cursor: pointer;
}
#header .mobile-menu:hover{
    background-color: #ccc;
}
#header .mobile-menu:hover .menu-button{
    color: black;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
    position: relative;
}
#nav > li:first-child{
    display: inline-block;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav>li>a{
    color: white;
    text-transform: uppercase;
}
#nav .subnav li:hover a,
#nav>li:hover>a{
    color: black;
    background-color: gray;
}
#nav .subnav a{
    color: black;
    padding: 0 16px;
    line-height: 38px;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    top: 100%;
}
#nav li:hover .subnav{
    display: block;
}
#nav .nav-arrow{
    font-size: 14px;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/blue.png') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 90px;
    color: #ffffff;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}
#content{

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 10px 112px;
    margin-left: auto;
    margin-right: auto;
}
.content-section{

}
.section-heading{

}
#content .section-heading{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.7;
}
#content .section-sub-heading,
#content .section-heading{
    text-align: center;
}
.section-sub-heading{

}
#content .about-content{
    margin-top: 16px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list{
    margin-top: 32px;
    overflow: hidden;
}
#content .member-name{
    font-size: 15px;
}
#content .avt{
    margin-top: 15px;
    width: 154px;
    border-radius: 7px;
}
.tour-section{
    background-color: black;
}
.tickets-list{
    margin-top: 40px;
    background-color: white;
}
.tickets-list li{
    list-style: none;
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.places-list{
    margin-top: 16px;
    margin-bottom: 48px;
    padding-bottom: 48px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.8;
}
.place-content{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15pz;
    font-weight: 600;
}
.place-time{
    color: #757575;
    padding: 12px 0;
}
.desc{
    line-height: 1.4;
}
.btn{
    color: #fff;
    margin-top: 12px;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    border: none;
    -webkit-appearance: none;
    border-radius: none;
}
.btn:hover{
    color: black;
    background-color: #ccc;
    cursor: pointer;
}
.text-white{
    color: #ffffff !important;
}
.clear{
    clear: both;
}
.modal{
    position: fixed;
    /* top: 0;
    left: 0;
    right:0;
    bottom: 0; */
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.7s;
}
.modal-header {
    background: dodgerblue;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
.modal-close:hover {
    opacity: 1;
}
.modal-close {
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
}
.model-label {
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}
.modal-body {
    margin: 16px;
}
#buy-ticket {
    background: dodgerblue;
    border: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    width: 100%;
}
#buy-ticket:hover{
    opacity: 0.8;
}
.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: dodgerblue;
}
.open{
    display: flex;
}
@keyframes modalFadeIn{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info a{
    color: dodgerblue;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-input{
    font-size: 15px;
}
.contact-input .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.contact-input .form-send{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 16px;
    float: right;
}
.pull-right{
    float: right !important;
}
.map-section img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list{
    font-size: 24px;
    
}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    
}
#footer .copyright a:hover,
#footer .social-list a:hover{
    opacity: 0.5;
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.7);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.7);
}